@media screen and(max-width:1100px) {
    body{

    }
    .container {
        width: 100%; //margin: 0px 10px;
    }
    .data{
        width:100%;
        padding:0px 5%;
    }
    header {
        .logo-search-cart {
            flex-wrap: wrap;
            padding: 0px 0px;
            .logo {
                a{
                    font-size: 35px;
                }


            }
            .search {
                width: 40%;
                .search_select {
                    font-size: 10px!important;
                    width: 35%!important;
                }
                .search_input {
                    width: 50%!important;
                }
            }

        }

    }
    .content{
        padding: 0px 15px;
    }
    .content .data .block_good .news .articul{
        float: inherit;
        width: auto;
        height:auto;
        margin: auto;
        &.middle{
            float: inherit;
            width: auto;
            height:auto;
            margin: auto;
        }
        .back{
            background-image: none!important;
            box-sizing: border-box;
            &:hover{
                background-color: white;
                .name{
                    background-color: white;
                }
            }
            .name{
                position: static;
                background-color: white;
                color: black;
                border: 1px solid rgba(1,1,1,0);
                border-bottom: 1px solid rgba(1,1,1,0.2);
                border-top: 1px solid white;
                padding: 0px;
                margin: 0px;
                box-sizing: border-box;
                &:hover{
                    background-color: white;
                    border: 1px solid rgba(1,1,1,0.2);
                }
            }
        }

    }
    .content .data .block_good .news .articul.middle .back .name{
        font-size:inherit;
    }
    .content .data .good:hover{
        box-shadow: none;
    }
}

@media screen and(max-width:880px) {
    .content{
        padding: 0px 0px;
    }
    header .navigation{
        height: inherit;
        nav ul li a{
            line-height: 35px;
        }
    }
    .content .data .block_good .sub_categories > div{
        width:45%;
    }
    .content .data .block_good .card .base .info div.compact div.cost-rate-brand .money .price span{
        font-size: 35px;
    }
    .content .data .slider-home .display .slide .info .description{
        letter-spacing: 1px;
    }
    .sorting {
        &>div{
            width: 100%;
        }
    }
    .middle-marks.container {
        display: none;
    }
    header .logo-search-cart .search form .search_select{
        font-size: 10px;
        width: 25%;
    }
    header {
        .logo-search-cart {
            justify-content: space-around;
            .logo{
                width: 50%;
                order: 0;
                justify-content: center;
                text-align: center;
            }
            .search {
                margin-top: 20px;
                width: 100%;
                order:2;
                padding: 0% 5% 0% 5%;

                form{
                    justify-content: center;

                    .search_input {
                        width: 70%!important;
                    }
                }
            }
            .header_cart{
                width: 45%;
                flex-direction: row-reverse;
                justify-content: flex-start;
                padding-right:5%;
                .tocart{
                    margin-left: 10px;
                    margin-right: 0px;
                }
            }
        }
        .navigation{
            ul{
                flex-wrap: wrap;
            }
        }
    }
    .content {
        flex-direction: column;
        .aside_toggle{
            display: flex;
        }
        aside#aside{
            position: fixed;
            top:0px;
            left: -270px;
            background-color: white;
            z-index: 80;
            padding: 10px;
            border-right: 1px solid #c3c3c366;
            height: 100%;
            overflow-y: scroll;
            padding: 0px 10px;
            .cat_menu{


                div.toggle{
                    width: 100%;
                    height: 50px;
                    justify-content: center;
                }
                ul.list{

                    &>li{
                        flex-direction: column;
                        &>div:first-child{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            a{
                                    line-height: 45px;
                            }
                        }

                        &>div:last-child{
                            width: 100%;
                            &>ul{
                                padding: 0px;
                                left: 0px;

                                top:inherit;
                                width: 100%;
                                border-radius: 0px;
                                box-shadow: none;
                                position: inherit;
                                border: none;
                                flex-direction: column;
                                &>li{
                                    width:100%;
                                }
                                img{
                                    display: none;
                                }
                            }


                        }
                        &:hover{
                            height:auto;}
                    }

                }
            }
            .tree_toggle{
                display: flex;
                position: fixed;
                top: 55px;
                left: auto;
                right:0px;
                width: 6%;
                height: 50px;
                justify-content: center;



            }
            .tree{


                &:hover{
                    width: 250px;
                    height:auto;
                    background: white;
                }

            }
        }
        .data{
            width: auto;
            .good.middle{
                flex-direction: row;
                width: 49%;
                margin: 5px auto;
                a .image{
                    width: 110px;
                    height: 110px;margin: auto;
                }
                .info {
                    width: 100%;
                    min-height: inherit;
                    height:inherit;
                }
            }
        }
    }
    footer .top .perc-15,footer .top .perc-30,footer .top .perc-25{
        width: 40%;
        padding: 15px 5%;
    }
    .quick_order .quick_order-display{
        width: 100%;
        height:100%;
        overflow: scroll;
        border-radius: 0px;
        &> .exit{
            right: 20px;
            top: 15px;
        }
    }
    header .logo-search-cart .search form .search_select select{
        padding: 0px;
    }
    .content .data .block_good .profile fieldset table{
        tbody{
            tr{
                display: flex;
                flex-wrap: wrap;
                td:last-child{
                    width: 100%;
                    textarea{
                        width: 50%;

                    }
                }
            }
        }
    }
}
@media screen and(max-width:600px) {
    .content .data .block_good .card .base .info div.compact{
        flex-direction: column;
        &> .controls,div.cost-rate-brand{
            width: 100%;
        }

    }
    .content .data .slider-home > .controlls .but{
        width:40px;
    }
    .content .data .slider-home .display .slide .info .description{
        letter-spacing: 0px;
    }
    .display.photo .window{
        width: 70%;
    }
    .content{
        .data{
            width: auto;
         /*   .good.middle{
                width: 49%;
                margin: 5px auto;
            }*/


            .good.middle
            {
                border: none;
                width: 48%;
                margin: 5px auto;
                flex-direction: column;

                .info{
                    padding: 0px;
                }
            }
            .block_good .sorting{
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }
    .content .data .block_good .profile fieldset table{
        tbody{
            tr{

                td:last-child{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    input[type="text"]{
                        width: 100%;

                    }
                    a{
                        width:100%;
                        background-color: transparent;
                        padding: 0px;
                        margin: 0px;
                        margin-top: 15px;
                        div{
                            padding: 0px;
                            width:100%;
                        }
                    }
                    textarea{
                        width: 100%;
                    }
                }
            }
        }
    }
    .content .data .block_good .cart table.good_list{
        tbody{
            width:100%;
            tr{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                td,th{
                    padding: 0px 0px 5px 0px;

                }
                td:nth-child(1),th:nth-child(1){
                    width: 50%;
                    justify-content: space-around;
                }
                td:nth-child(2),th:nth-child(2){
                    width: 20%;
                }
                td:nth-child(3),th:nth-child(3){

                    width: 30%;
                }
                td:nth-child(4),th:nth-child(4){

                    width: 50%;
                }
                td:nth-child(5),th:nth-child(5){
                    width: 50%;
                    .common-but{
                        margin: 10px;
                    }
                }
            }
        }
    }
    .content .data .block_good .order{
        width: 100%;
    }
    .content .data .block_good .order table tbody tr td:nth-child(2){
        font-size: 20px;
    }
}

@media screen and(max-width:500px) {
    header .logo-search-cart .search form .search_input{
        position: inherit;
        ul{
            width: 70%;
            left:15%;
        }
    }
    .content .data .slider-home .display .slide .info {
        padding-top: 50px;
        .description{
            font-size: 15px;
        }
    }
    .display.photo .window{
        width: 80%;
    }
    .content{
        .data{
            width: auto;
            .good.middle
{
                width: 49%;
                margin: 5px auto;
            }


        }
    }
    header .logo-search-cart .logo{
        a{
            font-size: 1.7em;
        }

    }
    header .topnav .container .menu p a span{
        display: none;
    }
    footer .top .perc-15,footer .top .perc-30,footer .top .perc-25{
        width: 100%;
        padding: 15px 10%;
    }
    .quick_order .quick_order-display{
        width: 100%;
        height:100%;
        overflow: scroll;

        &>.quick_order-content{
            flex-direction: column;
            .quick_order-user,.quick_order-good{
                width: 100%;
            }
        }
    }
    .content .data .block_good .user_log{
        width: 100%;
    }
}

@media screen and(max-width:400px){
    .content .data .slider-home .display .slide .info {
        padding-top: 30px;
        .description{
            margin-top: 15px;
            line-height: 17px;
        }
    }
    .content .data .block_good .head h2{
        font-size:15px;
    }
    .content .data .tabs > .head > ul > li a, .content .data .tabs > ul > li a{
        font-size:15px;
    }
    .content .data .good.middle .info h5 a{
        font-size: 12px;
    }
    .content .data .block_good .sub_categories{
        display: none;
    }
    header .logo-search-cart .search form .search_input{
        position: inherit;
        ul{
            width: 90%;
            left:5%;
        }
    }
    .content .data .slider-home > .controlls .but{
        width:30px;
        height:45px;
        line-height: 59px;
        line-height: 59px;
    }
    header .logo-search-cart .search form .search_select{
        width: 35%;
    }
    .display.photo .window{
        width: 90%;
    }
    .content .data .block_good .order table tbody tr td:nth-child(1){
        font-size: 15px;
    }
    .content .data .block_good .card .base{
        flex-direction: column;
        .photos,.info{
            width: 100%;
        }
    }
    header .logo-search-cart .logo{
        width: 30%;
        a{
            font-size: 1.5em;

        }


    }
    header .logo-search-cart .header_cart{
        width: 65%;
    }
    .content{
        .data{
            width: auto;



        }
    }
}